p.primary {
    background-color: green;
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
}

p.warning {
    background-color: yellow;
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
}

p.alert {
    background-color: red;
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
}